In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data/Omics-NORM_100count_1E6_cut_input_3.csv")

In [3]:
df.head()

,Sample,norm_9,norm_10,norm_11,norm_12,norm_13,norm_14,norm_15,norm_16,norm_17,...,norm_219,norm_220,norm_221,norm_222,norm_223,norm_224,norm_227,norm_228,norm_229,norm_230
0,Bacteria;Proteobacteria;Gammaproteobacteria;Oc...,10.911791,13.583037,13.164115,25.542016,11.946697,10.227373,16.664906,20.252527,21.486651,...,10.069152,10.069152,9.902529,9.902529,15.183788,15.183788,1.649511,1.649511,3.507401,3.507401
1,Bacteria;Cyanobacteria;Cyanobacteria;Subsectio...,0.008855,3.633411,14.109148,5.151215,1.020586,0.264967,0.009032,0.456251,1.236240,...,0.004940,0.004940,0.009536,0.009536,0.071323,0.071323,0.007240,0.007240,0.002145,0.002145
2,Archaea;Thaumarchaeota;Marine Group I;uncultur...,13.406976,16.466107,6.331083,4.968634,0.698328,0.162438,7.424792,5.209827,3.750962,...,7.962089,7.962089,9.085347,9.085347,15.251698,15.251698,0.002480,0.002480,0.000100,0.000100
3,Bacteria;Proteobacteria;Deltaproteobacteria;De...,12.084965,6.959480,4.743723,2.455232,0.214939,0.000100,6.656644,6.365638,2.896805,...,10.443455,10.443455,13.880863,13.880863,13.534072,13.534072,0.000100,0.000100,0.002145,0.002145
4,Bacteria;Proteobacteria;Gammaproteobacteria;Oc...,0.324036,0.953978,1.037421,2.264881,3.406837,6.228740,0.035828,1.090747,1.597002,...,0.195318,0.195318,0.454929,0.454929,1.161196,1.161196,5.393412,5.393412,6.262115,6.262115

In [7]:
microbe_list = ["Bacteria", "Archaea", "Eukaryota", "Organelle"]

microbe_df = df[df["Sample"].str.contains('|'.join(microbe_list))]
microbe_df = microbe_df.rename(columns={"Sample": "#OTU ID"})
metabolomics_df = df[~df["Sample"].str.contains('|'.join(microbe_list))]
metabolomics_df = metabolomics_df.rename(columns={"Sample": "#OTU ID"})

# Creating Taxonomy and Feature Metadata
microbe_taxonomy_df = pd.DataFrame()
microbe_taxonomy_df["featureid"] = microbe_df["#OTU ID"]
microbe_taxonomy_df["Taxonomy"] = microbe_df["#OTU ID"]
microbe_taxonomy_df.to_csv("microbe_metadata.tsv", sep="\t", index=False)

metabolomics_identifier_list = list(metabolomics_df["#OTU ID"])
metabolomics_metadata_list = []
for identifier in metabolomics_identifier_list:
    try:
        splits = identifier.split("_")
        feature_id = splits[0]
        mz = splits[1]
        rt = splits[2]
        ID = ":".join(splits[3:])
        
        output_dict = {}
        output_dict["sampleid"] = identifier
        output_dict["feature_id"] = feature_id
        output_dict["mz"] = mz
        output_dict["rt"] = rt
        output_dict["ID"] = ID
        
        metabolomics_metadata_list.append(output_dict)
        
    except KeyboardInterrupt:
        raise
    except:
        continue

pd.DataFrame(metabolomics_metadata_list).to_csv("metabolomics_metadata.tsv", sep="\t", index=False, columns=["sampleid", "feature_id", "mz", "rt", "ID"])

In [5]:
microbe_df.to_csv("microbes.tsv", sep="\t", index=False)
metabolomics_df.to_csv("metabolomics.tsv", sep="\t", index=False)
!biom convert -i microbes.tsv -o microbes.biom --to-hdf5
!biom convert -i metabolomics.tsv -o metabolomics.biom --to-hdf5